body {
  margin: 0;
}

.btn {
  margin: 0.6rem 0.4rem;
}

.material-icons {
  position: relative;
  font-size: 1.3rem;
  top: 3px;
  margin: 0 0.4rem;
}

input {
  display: block;
  width: 60vw;
  padding: 4px 2px;
  border: solid 1px #aacfe4;
  margin: 2px 0 20px 10px;
}

textarea {
  display: block;
  width: 60vw;
  padding: 4px 2px;
  border: solid 1px #aacfe4;
  margin: 2px 0 20px 10px;
}

.card {
  margin: 5vh 0;
}
